spring:
  application:
    name: auth

server:
  forward-headers-strategy: none

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
